<!-- upload_success.html -->
{% extends 'base.html' %} {% block content %}
<!-- Dans votre_template.html -->
<script type="application/json" id="vecteur_consommation1">
    {{ vecteur_consommation1_json|safe }}
</script>
<script type="application/json" id="vecteur_consommation2">
    {{ vecteur_consommation2_json|safe }}
</script>
<script type="application/json" id="vecteur_pas1_json">
    {{ vecteur_pas1_json|safe }}
</script>
<script type="application/json" id="vecteur_pas2_json">
    {{ vecteur_pas2_json|safe }}
</script>
<script type="application/json" id="vecteur_consommation_jour1_json">
    {{ vecteur_consommation_jour1_json|safe }}
</script>
<script type="application/json" id="vecteur_consommation_jour2_json">
    {{ vecteur_consommation_jour2_json|safe }}
</script>
<script type="application/json" id="filtered_data_json">
    {{ filtered_data_json|safe }}
</script>

<h2>Résultat du calcul</h2>
<style>
    .custom-table {
        font-size: 14px;
    }

    .custom-table th,
    .custom-table td {
        font-size: 12px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <table class="table table-bordered custom-table" width="100%" cellspacing="0">
                <thead class="m-0 font-weight-bold bg-light text-black">
                    <th>Min</th>
                    <th>Max</th>
                    <th>Moyenne</th>
                </thead>
                <tbody>
                    
                    <td>{{min_consommation}}</td>
                    <td>{{max_consommation}}</td>
                    <td>{{moyenne_consommation}}</td>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered custom-table" width="100%" cellspacing="0">
                <thead class="m-0 font-weight-bold bg-light text-black">
                    <th>id_compteur</th>
                    <th>num_compteur</th>
                    <th>lib_compteur</th>
                    <th>unité</th>
                    <th>source</th>
                </thead>
                <tbody>
                    <td>{{id_compteur}}</td>
                    <td>{{num_compteur}}</td>
                    <td>{{lib_compteur}}</td>
                    <td>{{unite}}</td>
                    <td>{{source}}</td>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <a type="btn" class="btn btn-info" data-toggle="modal" data-target="#chartModaldata">
                voir graphe de données  <i class="fas fa-chart-line"></i>
            </a>
            <a type="btn" class="btn btn-warning" href="{% url 'testoptilab:donnees_traite' id_fichier %}">
                consulter données  </i>
            </a>
        </div>
    </div>
  <div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">Tableau calcul 1</h6>
      <a type="btn" class="btn btn-info" data-toggle="modal" data-target="#chartModal">
        voir graphe  <i class="fas fa-chart-line"></i>
      </a>
    </div>
    
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-3">
                <table class="table table-bordered custom-table" width="100%" cellspacing="0">
                    <thead class="m-0 font-weight-bold bg-light text-black">
                        <th>valeur max</th>
                        <th>nombre case</th>
                        <th>le pas</th>
                    </thead>
                    <tbody>
                        <td>{{valeur_maximale}}</td>
                        <td>{{nbre_case}}</td>
                        <td>{{pas_1}}</td>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <label for="debut_interval">Début interval:</label>
                        <select id="debut_interval" name="debut_interval">
                            {% for value in vecteur_pas1 %}
                                <option value="{{ forloop.counter }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <label for="fin_interval">Fin interval:</label>
                        <select id="fin_interval" name="fin_interval">
                            {% for value in vecteur_pas1 %}
                                <option value="{{ forloop.counter }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <br>
                            <div class="text-left mb-3">
                                <a class="btn bg-gradient-info ml-2 text-light btn-icon-split" onclick="calculerSommeEtTauxPas1()">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text text-black">Calculer Somme Intervalle + taux 1</span>
                                </a>   
                            </div>
                    </div>
                    <div class="col-md-6" id="calculerSommeEtTauxPas1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Somme Interval 1:</label>
                                    <input class="form-control form-control-sm" type="text" id="somme_intervalle1" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Taux 1:</label>
                                    <input class="form-control form-control-sm" type="text" id="taux_pas1" readonly>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>                                       
            </div>
        </div>
        
      <table class="table table-bordered custom-table" width="100%" >
        <tr>
          <th class="m-0 font-weight-bold bg-info text-light">p pic</th>
          {% for raw in vecteur_pas1%}
          <td>{{raw}}</td>
          {% endfor %}
          <td class="m-0 font-weight-bold bg-light text-black"><B>Total</B></td>
        </tr>
        <tr>
          <th class="m-0 font-weight-bold bg-info text-light">1/4 heures</th>
          {% for raw in vecteur_consommation1%}
          <td>{{raw}}</td>
          {% endfor %}
          <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation1}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation1" value="{{total_vecteur_consommation1}}" style="display: none;"></td>
        </tr>
        <tr>
            <th class="m-0 font-weight-bold bg-info text-light"> heures</th>
            {% for raw in vecteur_consommation_heure1%}
            <td>{{raw}}</td>
            {% endfor %}
            <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_heure1}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation_heure1" value="{{total_vecteur_consommation_heure1}}" style="display: none;"></td>
        </tr>
        <tr>
          <th class="m-0 font-weight-bold bg-info text-light">jour</th>
          {% for raw in vecteur_consommation_jour1%}
          <td>{{raw}}</td>
          {% endfor %}
          <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_jour1}}</B></td>
        </tr>
        <tr>
            <th class="m-0 font-weight-bold bg-info text-light">Semaine</th>
            {% for raw in vecteur_consommation_semaine1%}
            <td>{{raw}}</td>
            {% endfor %}
            <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_semaine1}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation_semaine1" value="{{total_vecteur_consommation_semaine1}}" style="display: none;"></td>
        </tr>
        <tr>
            <th class="m-0 font-weight-bold bg-info text-light">Mois</th>
            {% for raw in vecteur_consommation_mois1%}
            <td>{{raw}}</td>
            {% endfor %}
            <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_mois1}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation_mois1" value="{{total_vecteur_consommation_mois1}}" style="display: none;"></td>
        </tr>
        <tr>
            <th class="m-0 font-weight-bold bg-info text-light">annee</th>
            {% for raw in vecteur_consommation_annee1%}
            <td>{{raw}}</td>
            {% endfor %}
            <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_annee1}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation_annee1" value="{{total_vecteur_consommation_annee1}}" style="display: none;"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">Tableau calcul 2</h6>
      <a type="btn" class="btn btn-info" data-toggle="modal" data-target="#chartModal1">
        voir graphe  <i class="fas fa-chart-line"></i>
      </a>
    </div>
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-3">
                <table class="table table-bordered custom-table" width="100%" cellspacing="0">
                    <thead class="m-0 font-weight-bold bg-light text-black">
                        <th>calibre</th>
                        <th>nombre case</th>
                        <th>le pas</th>
                    </thead>
                    <tbody>
                        <td>{{coef}}</td>
                        <td>{{nbre_case}}</td>
                        <td>{{pas_2}}</td>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <label for="debut_interval2">Début interval:</label>
                        <select id="debut_interval2" name="debut_interval2">
                            {% for value in vecteur_pas2 %}
                                <option value="{{ forloop.counter }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <label for="fin_interval2">Fin interval:</label>
                        <select id="fin_interval2" name="fin_interval2">
                            {% for value in vecteur_pas2 %}
                                <option value="{{ forloop.counter }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <br>
                            <div class="text-left mb-3">
                                <a class="btn bg-gradient-info ml-2 text-light btn-icon-split" onclick="calculerSommeEtTauxPas2()">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text text-black">Calculer Somme Intervalle + taux 2</span>
                                </a>   
                            </div>
                    </div>
                    <div class="col-md-6" id="calculerSommeEtTauxPas2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Somme Interval 2:</label>
                                    <input class="form-control form-control-sm" type="text" id="somme_intervalle2" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Taux 2:</label>
                                    <input class="form-control form-control-sm" type="text" id="taux_pas2" readonly>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>                                       
            </div>
        </div>
        
      <table class="table table-bordered custom-table" width="100%" >
        <tr>
          <th class="m-0 font-weight-bold bg-info text-light">T ext	</th>
          {% for raw in vecteur_pas2%}
          <td>{{raw}}</td>
          {% endfor %}
          <td class="m-0 font-weight-bold bg-light text-black"><B>Total</B></td>
        </tr>
        <tr>
          <th class="m-0 font-weight-bold bg-info text-light">heures</th>
          {% for raw in vecteur_consommation2%}
          <td>{{raw}}</td>
          {% endfor %}
          <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation2}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation2" value="{{total_vecteur_consommation2}}" style="display: none;"></td>
        </tr>
        <tr>
          <th class="m-0 font-weight-bold bg-info text-light">jour</th>
          {% for raw in vecteur_consommation_jour2%}
          <td>{{raw}}</td>
          {% endfor %}
          <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_jour2}}</B></td>
        </tr>
        <tr>
            <th class="m-0 font-weight-bold bg-info text-light">Semaine</th>
            {% for raw in vecteur_consommation_semaine2%}
            <td>{{raw}}</td>
            {% endfor %}
            <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_semaine2}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation_semaine2" value="{{total_vecteur_consommation_semaine2}}" style="display: none;"></td>
        </tr>
        <tr>
            <th class="m-0 font-weight-bold bg-info text-light">Mois</th>
            {% for raw in vecteur_consommation_mois2%}
            <td>{{raw}}</td>
            {% endfor %}
            <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_mois2}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation_mois2" value="{{total_vecteur_consommation_mois2}}" style="display: none;"></td>
        </tr>
        <tr>
            <th class="m-0 font-weight-bold bg-info text-light">annee</th>
            {% for raw in vecteur_consommation_annee2%}
            <td>{{raw}}</td>
            {% endfor %}
            <td class="m-0 font-weight-bold bg-light text-black"><B>{{total_vecteur_consommation_annee2}}</B><input class="form-control form-control-sm" type="text" id="total_vecteur_consommation_annee2" value="{{total_vecteur_consommation_annee2}}" style="display: none;"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 50%;max-height: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chartModalLabel">Graphe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="modalChart" ></canvas>
            </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="chartModal1" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 50%;max-height: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chartModalLabel1">Graphe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="modalChart1" ></canvas>
            </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="chartModaldata" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 90%;max-height: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chartModalLabel">Graphe données</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="modalChartdata"  width="400" height="200"></canvas>
            </div>
        </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
function calculerSommeIntervalle() {
    var vecteur_consommation1 = JSON.parse(document.getElementById("vecteur_consommation1").textContent);
    console.log("vecteur_cons" + vecteur_consommation1);
    var debut_interval = parseFloat(document.getElementById("debut_interval").value);
    var fin_interval = parseFloat(document.getElementById("fin_interval").value);
    console.log(vecteur_consommation1);
    // Effectuez le calcul avec debut_interval et fin_interval
    var somme_intervalle1 = vecteur_consommation1.slice(debut_interval - 1, fin_interval).reduce((a, b) => a + b, 0) / 4;

    document.getElementById("somme_intervalle1").value = somme_intervalle1;
    // Affichez ou utilisez les résultats comme nécessaire
    console.log("Somme Intervalle 1: " + somme_intervalle1);
    console.log(vecteur_consommation1[1],debut_interval);
}
function calculerSommeEtTauxPas1() {
    // Appelez d'abord la fonction pour calculer la somme de l'intervalle
    calculerSommeIntervalle();

    // Ensuite, appelez la fonction pour calculer le taux Pas1
    calculerTauxPas1();
    document.getElementById("calculerSommeEtTauxPas1").style.display="block"
}
function calculerTauxPas1() {
        var somme_intervalle1 = document.getElementById("somme_intervalle1").value;
        var total_vecteur_consommation1 = document.getElementById("total_vecteur_consommation1").value;

        // Effectuez le calcul du taux
        var taux_pas1 = round(somme_intervalle1 / total_vecteur_consommation1 * 4 * 100, 2);
        document.getElementById("taux_pas1").value = taux_pas1;
        console.log(total_vecteur_consommation1);
        // Affichez ou utilisez le résultat comme nécessaire
        console.log("Taux Pas1: " + taux_pas1);
    }
  // Fonction pour arrondir un nombre à deux décimales
  function round(value, decimals) {
        return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
    }
</script>
<script>
     function calculerSommeIntervalle2() {
        var vecteur_consommation2 = JSON.parse(document.getElementById("vecteur_consommation2").textContent);
        var debut_interval2 = parseFloat(document.getElementById("debut_interval2").value);
        var fin_interval2 = parseFloat(document.getElementById("fin_interval2").value);

        // Effectuez le calcul avec debut_interval et fin_interval
        var somme_intervalle2 = vecteur_consommation2.slice(debut_interval2 - 1, fin_interval2).reduce((a, b) => a + b, 0) ;

        document.getElementById("somme_intervalle2").value = somme_intervalle2;
        // Affichez ou utilisez les résultats comme nécessaire
        console.log("Somme Intervalle 1: " + somme_intervalle2);
        console.log(vecteur_consommation2[1],debut_interval2);
    }
    function calculerSommeEtTauxPas2() {
    // Appelez d'abord la fonction pour calculer la somme de l'intervalle
    calculerSommeIntervalle2();

    // Ensuite, appelez la fonction pour calculer le taux Pas1
    calculerTauxPas2();
    document.getElementById("calculerSommeEtTauxPas2").style.display="block"
}
function calculerTauxPas2() {
        var somme_intervalle2 = document.getElementById("somme_intervalle2").value;
        var total_vecteur_consommation2 = document.getElementById("total_vecteur_consommation2").value;

        // Effectuez le calcul du taux
        var taux_pas2 = round(somme_intervalle2 / total_vecteur_consommation2  * 100, 2);
        document.getElementById("taux_pas2").value = taux_pas2;
        console.log(total_vecteur_consommation2);
        // Affichez ou utilisez le résultat comme nécessaire
        console.log("Taux Pas1: " + taux_pas2);
    }

</script>
<script>
    // var filt=document.getElementById('filtered_data_json').textContent;
    // console.log('filtered' + filt);
    var xValues = JSON.parse(document.getElementById('vecteur_pas1_json').textContent);
    var y1Values = JSON.parse(document.getElementById('vecteur_consommation1').textContent);
    var y2Values = JSON.parse(document.getElementById('vecteur_consommation_jour1_json').textContent);
    console.log(xValues,y1Values,y2Values);
    const data = {
        labels: xValues,
        datasets: [
            {
                label: 'Consommation 1/4 heure',
                data: y1Values, // Remplacez ces valeurs par vos propres données
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                yAxisID: 'y',
            },
            {
                label: 'Consomation Jour',
                data: y2Values, // Remplacez ces valeurs par vos propres données
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                yAxisID: 'y1',
            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Graphe de consommation 1/4 heure et Jour'
                }
            },
            scales: {
                x: {
                        type: 'category', // Utiliser 'category' pour les valeurs x qui sont des chaînes
                        labels: xValues.map(String),
                        position: 'bottom',
                        title: {
                            display: true,
                            text: 'Vecteur Pas'
                        }
                    },
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    title: {
                            display: true,
                            text: 'Consommation (consommation 1/4 heure)'
                        }
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    title: {
                            display: true,
                            text: 'Consommation Jour'
                        },

                    // grid line settings
                    grid: {
                        drawOnChartArea: false,
                    },
                },
            }
        }
    };

   
    const ctxModal = document.getElementById('modalChart').getContext('2d');
    const myModalChart = new Chart(ctxModal, config);


    
</script>
<script>
    var xValues = JSON.parse(document.getElementById('vecteur_pas2_json').textContent);
    var y1Values = JSON.parse(document.getElementById('vecteur_consommation2').textContent);
    var y2Values = JSON.parse(document.getElementById('vecteur_consommation_jour2_json').textContent);

    const data1 = {
        labels: xValues,
        datasets: [
            {
                label: 'Consommation heure',
                data: y1Values, // Remplacez ces valeurs par vos propres données
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                yAxisID: 'y',
            },
            {
                label: 'Consomation Jour',
                data: y2Values, // Remplacez ces valeurs par vos propres données
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                yAxisID: 'y1',
            }
        ]
    };

    const config1 = {
        type: 'line',
        data: data1,
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Graphe de consommation heure et Jour'
                }
            },
            scales: {
                x: {
                        type: 'category', // Utiliser 'category' pour les valeurs x qui sont des chaînes
                        labels: xValues.map(String),
                        position: 'bottom',
                        title: {
                            display: true,
                            text: 'Vecteur coefficient'
                        }
                    },
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    title: {
                            display: true,
                            text: 'Consommation  heure'
                        }
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    title: {
                            display: true,
                            text: 'Consommation Jour'
                        },

                    // grid line settings
                    grid: {
                        drawOnChartArea: false,
                    },
                },
            }
        }
    };

   
    const ctxModal1 = document.getElementById('modalChart1').getContext('2d');
    const myModalChart1 = new Chart(ctxModal1, config1);


    
</script>
<script>
    // var filt=document.getElementById('filtered_data_json').textContent;
    var filt = JSON.parse(document.getElementById('filtered_data_json').textContent);
    var dates = filt.map(item => item.date);
    var selected_column = filt.map(item => Object.values(item)[1]);

    console.log('filtered date:',  selected_column);

   var ctx = document.getElementById('modalChartdata').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'Consommation',
                data: selected_column,
                borderColor: 'rgba(255, 165, 0)',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            scales: {
                x: [{
                    type: 'time',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'YYYY-MM-DD HH:mm:ss'
                        },
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    distribution: 'linear',
                    ticks: {
                        source: 'data'
                    }
                }],
                y: {
                    beginAtZero: true,
                    title: {
                            display: true,
                            text: 'Consommation '
                        }
                }
            }
        }
    });
</script> 
<!-- <script>
   
   var filt = JSON.parse(document.getElementById('filtered_data_json').textContent);
    var dates = filt.map(item => item.date);
    var selected_column = filt.map(item => Object.values(item)[1]);
    const data_donnees= {
        labels: dates,
        datasets: [
            {
                label: 'Consommation',
                data: selected_column, // Remplacez ces valeurs par vos propres données
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
            },
           ]
    };

    const config_donnees = {
        type: 'line',
        data: data_donnees,
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Puissance du Pic '
                }
            },
            scales: {
                x: {
                        type: 'category', // Utiliser 'category' pour les valeurs x qui sont des chaînes
                        labels: dates,
                        position: 'bottom',
                        title: {
                            display: true,
                            text: 'Dates'
                        }
                    },
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    title: {
                            display: true,
                            text: 'Consommation'
                        }
                },
                    // grid line settings
                    grid: {
                        drawOnChartArea: false,
                    },
                },
            
        }
    };

   
    const ctxModal_donnees = document.getElementById('modalChartData').getContext('2d');
    const myModalChart_donnees = new Chart(ctxModal_donnees, config_donnees);


    
</script> -->


    


{% endblock %}
